.cart {
  height: 480px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
  background-color: rgba(253, 247, 247, 0.993);
}
.cart-img {
  text-align: center;
}
.cart-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 10px;
}
.cart-btn-area {
  text-align: center;
}
.cart-btn {
  background-color: #f8aa25;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 16px;
  transition: 0.5s;
  margin-top: 10px;
}
.cart-btn:hover {
  background-color: coral;
}
.cart p {
  text-align: justify;
}
.cart span {
  color: #f8aa25;
  font-size: 20px;
  font-weight: bold;
}
